.thumbnail {
    width: 100%; /*This is applied because of an image's weird alignment*/
    margin-top: 10px;
}

.thumbnail-wrapper {
    position: relative;
}

body {
    padding-top: 70px;
    padding-left: 100px;
}

.search-box {
    height: 30px;
    width: 150px;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    flex: 1;
    max-width: 500px;
    border-color: lightgray;
    border-style: solid;
}

.search-box::placeholder {
    font-size: 20px;
}

.video-preview {
    width: 300px;
}

.profile-pic {
    width: 50px;
    object-fit: cover;
    margin-top: 15px;
}

.profile-icon {
    width: 100%;
    border-radius: 50px;
}

.info {
    width: 100%;
}

.author {
    margin-bottom: 0px;
}

.views {
    margin-top: 1px;
}

.info-card {
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 15px;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    height: 50px;
    margin-bottom: -1px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 70px;
    background-color: white;
    box-shadow: 0 5px 5px lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1;
}

.left-section {
    display: flex;
    align-items: center;
}

.middle-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.right-section {
    width: 200px;
    margin-right: 15px;
}

.menu {
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.yt-logo {
    height: 35px;
    margin-left: 10px;
    vertical-align: top;
}

.mic-icon {
    width: 43px;
    height: 43px; 
    border-radius: 25px;
    border: none;
}

.search-icon {
    height: 43px;
    width: 75px;
    background-color: rgba(211, 211, 211, 0.696);
    border-style: solid;
    border-color: lightgray;
    margin-right: 15px;
    margin-left: -1px;
    cursor: pointer;
}

.search-image, .mic-image {
    width: 30px;
    object-fit: contain;
}

.right-section img {
    height: 35px;
}

.right-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.prof {
    border-radius: 18px;
}

.sidebar {
    position: fixed;
    background-color: white;
    top: 72px;
    bottom: 0;
    left: 0;
    width: 90px;
    margin-top: -1px;
    box-shadow: 5px 0 3px lightgray;
    z-index: 1;
}

.timer {
    background-color: black;
    color: white;
    padding: 2px;
    width: 40px;
    border-radius: 5px;
    border: none;
    position: absolute;
    bottom: 12px;
    right: 8px;
}

.notif-container {
    position: relative;
}

.notif-icon {
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: red;
    font-size: 15px;
    border-radius: 10px;
    width: 17px;
    height: 17px;
    color: white;
    text-align: center;
}

.s-link {
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    padding-top: 13px;
    cursor: pointer;
}

.s-link:hover {
    background-color: lightgray;
}

.link-image {
    height: 40px;
}